[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==12.8.0"
multicolorcaptcha = "==1.0.0"
Pillow = "==7.1.2"

[dev-packages]

[requires]
python_version = "3.9"
